.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  .tooltip {
    position: absolute;
    background-color: rgb(182, 213, 248);
    stroke: black;
    border-width: 1px;
    border-radius: 6px;
    padding: 2px;
  }
  
  .svg {
    position: absolute;
  }